body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    position: relative;
    background-color: blue;
    width: 200px;
    height: 200px;
    transition: 1s;
    animation: girando 3s ease;
}

@keyframes girando {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg);
    }
}