body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: relative;
    width: 200px;
    height: 200px;
    animation: logo 3s linear;
    animation-fill-mode: forwards;

}

@keyframes logo {
    from {
        top: 0;
        left: 0;
    }
    
    to {
        top: -44%;
        left: -46%;
        width: 70px;
        height: 70px;
    }
}